{% extends 'base.html' %}

{% block content %}
    <h2>{{campaign_name}}</h2>
       <table>
        <tr>
            <th>ID</th>
            <th>Test Name</th>
            <th>Beginning Time</th>
            <th>End Time</th>
            <th>Duration</th>
            <th>Status</th>
        </tr>
        {% for r in result %}
        <tr>
            <td>{{ r['testCaseID'] }}</td>
            <td>
                <a href="{{ url_for('get_test_case_report', campaign_id=r['testCampaignID'], test_case_id=r['testCaseID']) }}">
                    {{ r['testCaseName'] }}
                </a>
            </td>
            <td>{{ r['begTime'] }}</td>
            <td>{{ r['endTime'] }}</td>
            <td>{{ r['duration'] }}</td>
            <td>{{ r['status'] }}</td>
        </tr>
        {% endfor %}
        </table>
{% endblock %}